{{ define "main" }}
<article class="article">
  {{ with .Title }}
    <div class="article-header">
      <h1 class="article-title">{{ . | emojify }}</h1>
    </div>
  {{ end }}
  <div class="article-content">
    <div class="content">
      {{ with .Content }}
        <section>{{ . }}</section>
      {{ end }}
      <section>
        <h2>Recent</h2>
        <div class="article-entries">
          {{- range first .Site.Params.showRecentItems (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) -}}
            {{- partial "article_entry.html" . -}}
          {{- end -}}
        </div>
      </section>
    </div>
  </div>
</article>
{{ end }}
