{{ define "main" }}
<article class="article">
  <div class="article-header">
    <h1 class="article-title">{{ .Title | emojify }}</h1>
  </div>
  <div class="article-content">
    <div class="content">
      {{ with .Content }}
        <section>{{ . }}</section>
      {{ end }}
      <section>
        {{- range (.Paginate (.Pages.GroupByDate "2006")).PageGroups -}}
          <h2>{{ .Key }}</h2>
          <div class="article-entries">
            {{- range .Pages -}}
              {{- partial "article_entry.html" . -}}
            {{- end -}}
          </div>
        {{- end -}}
      </section>
    </div>
  </div>
  <div class="article-footer">
    {{- partial "pagination.html" . -}}
  </div>
</article>
{{ end }}
