:root {
  --font-sans: ui-sans-serif, sans-serif;
  --font-mono: ui-monospace, monospace;
  --nav-width: 1024px;
  --main-width: 900px;
  --radius: 4px;
  --theme: rgb(255, 255, 255);
  --primary: rgb(15, 23, 42);
  --secondary: rgb(100, 116, 139);
  --tertiary: rgb(226, 232, 240);
  --content: rgb(52, 66, 87);
  --code-bg: rgb(248, 250, 252);
  --border: rgb(203, 212, 225);
  --link: rgb(37, 99, 235);
}

.dark {
  --theme: rgb(30, 41, 59);
  --primary: rgb(255, 255, 255);
  --secondary: rgb(148, 163, 184);
  --tertiary: rgb(100, 116, 139);
  --content: rgb(203, 213, 225);
  --code-bg: rgb(51, 65, 85);
  --border: rgb(71, 85, 105);
  --link: rgb(96, 165, 250);
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-sans);
  line-height: 1.5;
  background: var(--theme);
  margin: 0;
}

a,
button,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

code,
kbd,
samp,
pre {
  font-family: var(--font-mono);
}

button#appearance-switcher {
  margin: 0;
  padding: 0;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

body.dark #moon {
  display: none;
}

body:not(.dark) #sun {
  display: none;
}

.site-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  line-height: 1.5;
  max-width: var(--nav-width);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 0 1em;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.site-footer {
  max-width: var(--main-width);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 1em;
  color: var(--secondary);
}

.footer-menu {
  display: flex;
}

.footer-menu a {
  color: inherit;
}

.footer-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-size: smaller;
}

.footer-content a {
  color: inherit;
}

.main {
  display: flex;
  flex-grow: 1;
}

.main-block {
  display: block;
  max-width: var(--main-width);
  width: 100%;
  margin: 0 auto;
  padding: 2em 1em;
}

.title {
  font-size: 2em;
}

.article-entry {
  position: relative;
  margin: 0 0 2em 0;
}

.article h1 {
  font-size: 2em;
}

.article-header,
.article-footer {
  margin: 1em 0;
}

.article-title {
  margin-top: 0;
  margin-bottom: 0;
}

.article-meta,
.breadcrumbs {
  color: var(--secondary);
  font-size: 0.875em;
  display: flex;
  flex-wrap: wrap;
  margin: 0.1em 0;
}

.breadcrumbs a {
  color: inherit;
}

.article-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0.4em 0;
  padding: 0;
}

.article-tags li {
  display: inline-block;
}

.article-tags a {
  display: block;
  font-size: 0.875em;
  line-height: 1.5;
  margin: 0;
  padding: 0 0.5em;
  color: var(--link);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  text-decoration: none;
}

.article-summary {
  margin: 0.5em 0;
  color: var(--content);
}

.article-summary p {
  margin: 0;
}

.article-content {
  color: var(--content);
  margin: 1em 0;
}

.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  margin: 1.5em 0 1em;
}

.article-content h1 {
  font-size: 2em;
  margin: 1em auto 0.8em;

}

.article-content h2 {
  font-size: 1.7em;
  margin: 1em auto 0.75em;
}

.article-content h3 {
  font-size: 1.5em;
}

.article-content h4 {
  font-size: 1em;
}

.article-content h5 {
  font-size: 0.875em;
}

.article-content h6 {
  font-size: 0.75em;
}

.article-content a {
  color: var(--link);
  text-decoration: none;
}

.article-content img {
  margin: 1em 0;
}

.article-content blockquote {
  margin: 20px 0;
  padding: 0 14px;
  border-inline-start: 3px solid var(--secondary);
}

.article-content code {
  margin: 0;
  padding: 3px 5px;
  font-size: 0.875em;
  line-height: 1.5;
  background: var(--code-bg);
  border-radius: 2px;
}

.article-content pre code {
  display: grid;
  margin: auto 0;
  padding: 10px;
  background: var(--code-bg) !important;
  border-radius: var(--radius);
  overflow-x: auto;
  word-break: break-all;
}

.article-content hr {
  margin: 30px 0;
  height: 2px;
  background: var(--tertiary);
  border: 0;
}

.article-content table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0;
}

.article-content table th {
  color: var(--primary);
  padding: 0.5em 0.3em;
  border: 1px solid var(--border);
}

.article-content table td {
  color: var(--content);
  padding: 0.5em 0.3em;
  border: 1px solid var(--border);
}

.toc {
  margin: 1em 0.1em;
  border: 1px solid var(--border);
  background: var(--code-bg);
  border-radius: var(--radius);
  padding: .4em;
}

.toc details summary {
  cursor: pointer;
  margin-inline-start: 10px;
  user-select: none;
  font-weight: bold;
}

.toc .toc-inner {
  margin: 5px 20px 0;
  padding: 0 10px;
  opacity: .9;
}

.toc ul {
  margin: 0;
  padding: 0;
}

.toc li ul {
  margin-inline-start: 1em;
}

.toc summary:focus {
  outline: 0;
}

.toc a {
  color: var(--content);
  text-decoration: none;
}

.pagination {
  display: flex;
}

.pagination a {
  color: var(--theme);
  font-size: smaller;
  line-height: 36px;
  background: var(--secondary);
  border-radius: 18px;
  padding: 0 1em;
  text-decoration: none;
}

.pagination .next {
  margin-inline-start: auto;
}

.article-pagination {
  display: flex;
  justify-content: space-between;
  border-top: 1px dotted var(--border);
}

.article-pagination a {
  padding-inline-start: 0.8em;
  padding-inline-end: 0.8em;
  border-radius: var(--radius);
}

.article-pagination .title {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: small;
  color: var(--secondary);
}

.article-pagination .prev,
.article-pagination .next {
  display: block;
}

.article-pagination .prev {
  text-align: left;
}

.article-pagination .next {
  text-align: right;
}

.terms {
  margin: 1em 0;
  padding: 0;
}

.terms li {
  display: inline-block;
  margin: 0.5em 1em;
}

.terms a {
  color: var(--primary);
  text-decoration: none;
}

.terms a:hover {
  color: var(--link);
  text-decoration: underline;
}

.top-link {
  visibility: hidden;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  font-size: smaller;
  line-height: 0;
  color: var(--secondary);
  background: var(--tertiary);
  padding: 12px;
  border-radius: 64px;
  transition: visibility .5s, opacity .8s linear;
}

.top-link:hover {
  color: var(--primary);
}

#search-box input {
  padding: 0.2em 0.6em;
  width: 100%;
  color: var(--primary);
  background: 0 0;
  font: inherit;
  border: 2px solid var(--border);
  border-radius: var(--radius);
}

#search-box input:focus {
  background: 0 0;
  border-color: var(--secondary);
}

#search-results li {
  list-style: none;
  background: var(--code-bg);
  border: 1 px solid var(--border);
  border-radius: var(--radius);
  padding: 0.6em;
  margin: 0.6em 0;
  position: relative;
  transition: transform .1s;
}

#search-results {
  margin: 0.6em 0;
  padding: 0;
  width: 100%;
}

#search-results li:active {
  transition: transform .1s;
  transform: scale(.98);
}

#search-results a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;
}

#search-results h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

#search-results p {
  font-size: 0.875em;
  font-style: italic;
  margin: 0;
  color: var(--secondary);
}

#search-results .focus {
  transform: scale(.98);
  border: 2px solid var(--border);
}
