:root {
  --font-sans: ui-sans-serif, sans-serif;
  --font-mono: ui-monospace, monospace;
  --nav-width: 1024px;
  --main-width: 900px;
  --sidebar-width: 250px;
  --radius: 4px;
  --theme: 255, 255, 255;
  --primary: 15, 23, 42;
  --secondary: 100, 116, 139;
  --tertiary: 226, 232, 240;
  --content: 51, 65, 85;
  --code-bg: 248, 250, 252;
  --border: 203, 212, 225;
  --link: 37, 99, 235;
}

.dark {
  --theme: 30, 41, 59;
  --primary: 255, 255, 255;
  --secondary: 148, 163, 184;
  --tertiary: 100, 116, 139;
  --content: 203, 213, 225;
  --code-bg: 51, 65, 85;
  --border: 71, 85, 105;
  --link: 96, 165, 250;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-sans);
  line-height: 1.5;
  background: rgb(var(--theme));
  margin: 0;
}

a,
button,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--primary));
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  margin: 1em auto;
  padding: 0;
  text-align: center;
}

figcaption {
  font-size: 0.875em;
  line-height: 1.5;
  margin-top: 0.3em;
  p {
    margin: 0;
  }
}

details {
  margin: 1em 0;
}

details > summary {
  cursor: pointer;
}

code,
kbd,
samp,
pre {
  font-family: var(--font-mono);
}

html.dark svg#moon {
  display: none;
}

html:not(.dark) svg#sun {
  display: none;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgb(var(--theme));
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.15);
}

.site-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  line-height: 3em;
  max-width: var(--nav-width);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 0 1em;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.menu button {
  font-size: 1em;
  line-height: 1;
  margin: 0;
  padding: 0;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.main-menu {
  @media (width >= 800px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  @media (width < 800px) {
    display: none;
    position: fixed;
    z-index: 1;
    top: 3em;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--theme), 0.85);
    overflow-x: hidden;
    font-size: 1em;
    line-height: 1;

    a {
      color: rgb(var(--primary));
      text-decoration: none;
      text-align: right;
      display: block;
      margin: 1em;
    }

    a:hover {
      color: rgb(var(--link));
    }
  }
}

button#menu-button {
  @media (width >= 800px) {
    display: none;
  }
}

.site-footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: var(--main-width);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 1em;
  color: rgb(var(--secondary));
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.footer-menu a {
  color: inherit;
}

.footer-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-size: smaller;
}

.footer-content a {
  color: inherit;
}

.main {
  display: flex;
  flex: auto;
}

.title {
  font-size: 2em;
}

.highlight, pre {
  position: relative;
}

code {
  margin: 0;
  padding: 3px 5px;
  font-size: 0.875em;
  line-height: 1.5;
  color: rgb(var(--content));
  background: rgb(var(--code-bg));
  border-radius: 2px;
}

pre code {
  display: grid;
  margin: auto 0;
  padding: 0.8em;
  background: rgb(var(--code-bg)) !important;
  border-radius: var(--radius);
  overflow-x: auto;
  word-break: break-all;
}

.copy-code {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
  border: 0 solid;
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  color: rgb(var(--content));
  background-color: rgb(var(--tertiary));
  font-family: var(--font-mono);
  font-size: 0.8em;
  line-height: 1.5;
  padding-block: 0.2em;
  width: 6em;
  user-select: none;
}

:is(.highlight:hover, pre:hover) .copy-code {
  visibility: visible;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(var(--secondary), 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--secondary), 0.5);
}

.article {
  display: flex;
  flex: auto;
  justify-content: center;
  max-width: calc(var(--main-width) + 2 * var(--sidebar-width));
  width: 100%;
  margin: 0 auto;
}

.article {
  .content {
    flex: 1;
    max-width: var(--main-width);
    width: 100%;
    padding: 2em 1em;
  }

  .sidebar {
    width: var(--sidebar-width);
    @media (max-width: 1400px) {
      display: none;
    }
  }

  .sidebar-menu {
    order: -1;
  }

  .sidebar-toc {
    order: 1;
  }
}

.article-header,
.article-footer {
  margin: 1em 0;
}

.article-header h1 {
  font-size: 2em;
}

.article-content {
  color: rgb(var(--content));
  margin: 1em 0;
}

.article-content h1 {
  font-size: 2em;
  margin: 1.5em 0 0.8em;
}

.article-content h2 {
  font-size: 1.5em;
  margin: 1.5em 0 0.75em;
}

.article-content h3 {
  font-size: 1.25em;
}

.article-content h4 {
  font-size: 1em;
}

.article-content h5 {
  font-size: 0.875em;
}

.article-content h6 {
  font-size: 0.75em;
}

.article-content :is(h3, h4, h5, h6) {
  margin: 1.5em 0 0.7em;
}

.article-content :is(h1, h2, h3, h4, h5, h6) {
  scroll-margin-top: 3em;
}

.article-content :is(h1, h2, h3, h4, h5, h6) .anchor {
  display: none;
  color: rgb(var(--secondary));
  margin-inline-start: 0.3em;
  user-select: none;
}

.article-content :is(h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover) .anchor {
  display: inline;
}

.article-content a {
  color: rgb(var(--link));
  text-decoration: none;
}

.article-content blockquote {
  margin: 20px 0;
  padding: 0 14px;
  border-inline-start: 3px solid rgb(var(--secondary));
}

.article-content {
  ul,
  ol {
    margin: 1em 0;
    padding-inline-start: 1.5em;
  }

  li {
    margin: 0.5em 0;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: 0.75em 0;
  }

  dl {
    margin: 1em 0;
  }

  dt {
    color: rgb(var(--primary));
    font-weight: bold;
  }

  dd{
    margin-inline-start: 1.5em;
  }
}

.article-content .footnotes hr {
  margin: 30px 0;
  height: 2px;
  background: rgb(var(--tertiary));
  border: 0;
}

.article-content .footnotes p {
  margin: 0;
}

.article-content table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0;
}

.article-content table th {
  color: rgb(var(--primary));
  padding: 0.5em 0.3em;
  border: 1px solid rgb(var(--border));
}

.article-content table td {
  color: rgb(var(--content));
  padding: 0.5em 0.3em;
  border: 1px solid rgb(var(--border));
}

.article-content .terms {
  margin: 1em 0;
  padding: 0;
}

.article-content .terms li {
  display: inline-block;
  margin: 0.5em 1em;
}

.article-content .terms a {
  color: rgb(var(--primary));
  text-decoration: none;
}

.article-content .terms a:hover {
  color: rgb(var(--link));
  text-decoration: underline;
}

.article-content .article-entry {
  position: relative;
  margin: 0 0 2em 0;
}

:is(.article-header, .article-content) .article-title {
  margin-top: 0;
  margin-bottom: 0;
  a {
    color: rgb(var(--primary));
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

:is(.article-header, .article-content) :is(.article-meta, .breadcrumbs) {
  color: rgb(var(--secondary));
  font-size: 0.875em;
  display: flex;
  flex-wrap: wrap;
  margin: 0.1em 0;
}

:is(.article-header, .article-content) .breadcrumbs a {
  color: inherit;
}

:is(.article-header, .article-content) .article-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0.4em 0;
  padding: 0;

  a {
    display: block;
    font-size: 0.875em;
    line-height: 1.5;
    margin: 0;
    padding: 0 0.5em;
    color: rgb(var(--link));
    border-radius: var(--radius);
    border: 1px solid rgb(var(--border));
    text-decoration: none;
  }
}

:is(.article-header, .article-content) .article-summary {
  margin: 0.5em 0;
  color: rgb(var(--content));

  p {
    margin: 0;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}

.pagination .page-item {
  color: rgb(var(--primary));
  font-size: 0.875em;
  line-height: 2em;
  min-width: 2em;
  border: 1px solid rgb(var(--border));
  border-radius: var(--radius);
  text-align: center;
  text-decoration: none;
}

.pagination .page-item.active {
  background: rgb(var(--tertiary));
}

.article-pagination {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  border-top: 1px dotted rgb(var(--border));
}

.article-pagination .title {
  letter-spacing: 1px;
  font-size: small;
  color: rgb(var(--secondary));
}

.article-pagination .prev,
.article-pagination .next {
  display: flex;
  flex-direction: column;
}

.article-pagination .prev {
  text-align: left;
}

.article-pagination .next {
  text-align: right;
}

.toc {
  position: sticky;
  top: 10em;

  .toc-content {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .toc-title {
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(var(--primary));
    background-color: rgb(var(--code-bg));
    padding: 0 0.5em;
  }

  .toc-nav {
    font-size: 0.875em;
    padding: 1em 0 1em 1em;
    border-left: 1px dotted rgb(var(--border));
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul ul {
    margin: 0;
    padding: 0;
  }

  li ul {
    margin-inline-start: 1em;
  }

  a {
    color: rgb(var(--content));
    text-decoration: none;
  }
  a:hover {
    color: rgb(var(--link));
  }
  a.active {
    color: rgb(var(--link));
    font-weight: bold;
  }
}

.top-link {
  visibility: hidden;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  font-size: smaller;
  line-height: 0;
  color: rgb(var(--secondary));
  background: rgb(var(--tertiary));
  padding: 12px;
  border-radius: 64px;
  transition: visibility .5s, opacity .8s linear;
}

.top-link:hover {
  color: rgb(var(--primary));
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.\!block {
  display: block !important;
}

.tabpane {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  position: relative;

  &.tabpane-left {
    justify-content: flex-start;
    .tab-label {
      margin-right: 0.5em;
    }
    .tab-content {
      border-radius: 0px var(--radius) var(--radius) var(--radius);
    }
  }

  &.tabpane-right {
    justify-content: flex-end;
    .tab-label {
      margin-left: 0.5em;
    }
    .tab-content {
      border-radius: var(--radius) 0px var(--radius) var(--radius);
    }
  }

  .tab-input {
    display: none;
  }

  .tab-label {
    display: inline-block;
    order: 1;
    background-color: rgba(var(--tertiary), 0.5);
    border-color: rgb(var(--border));
    border-radius: var(--radius) var(--radius) 0px 0px;
    border-style: solid;
    border-bottom-style: hidden;
    border-width: 1px;
    padding: 0.3em 0.5em;
    position: relative;
    top: 1px;
    cursor: pointer;
    user-select: none;
  }

  .tab-content {
    display: none;
    order: 2;
    width: 100%;
    padding: 0.5em;
    border-color: rgb(var(--border));
    border-style: solid;
    border-width: 1px;
  }

  .tab-input:checked + .tab-label {
    background-color: rgb(var(--theme));
  }
  .tab-input:checked + .tab-label + .tab-content {
    display: block;
  }
}

.bilibili {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  margin: 1em 0;
  text-align: center;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1em 0;
  div {
    flex: 1 1;
    min-width: 10em;
  }
}

#search-box input {
  padding: 0.2em 0.6em;
  width: 100%;
  color: rgb(var(--primary));
  background: 0 0;
  font: inherit;
  border: 2px solid rgb(var(--border));
  border-radius: var(--radius);
}

#search-box input:focus {
  background: 0 0;
  border-color: rgb(var(--secondary));
}

#search-results {
  margin: 0.6em 0;
  padding: 0;
  width: 100%;
}

#search-results li {
  list-style: none;
  background: rgb(var(--code-bg));
  border-radius: var(--radius);
  padding: 0.6em;
  margin: 0.6em 0;
  position: relative;
}

#search-results a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;

  &:focus, &:hover {
    border: 2px solid rgb(var(--border));
  }
}

#search-results h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

#search-results p {
  font-size: 0.875em;
  font-style: italic;
  margin: 0;
  color: rgb(var(--secondary));
}
