.chroma {
  color: rgb(var(--content));
  background-color: rgb(var(--theme));
}

.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.chroma .hl {
  background-color: #e5e5e5;

  &:is(.dark *) {
    background-color: #191919;
  }
}

.chroma .lnt,
.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}

.chroma .line {
  display: flex;
}

.chroma .k,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr {
  color: #5317ac;

  &:is(.dark *) {
    color: #b6a0ff;
  }
}

.chroma .kc {
  color: #0000c0;

  &:is(.dark *) {
    color: #00bcff;
  }
}

.chroma .kt {
  color: #005a5f;

  &:is(.dark *) {
    color: #6ae4b9;
  }
}

.chroma .nb {
  color: #8f0075;

  &:is(.dark *) {
    color: #f78fe7;
  }
}

.chroma .nf {
  color: #721045;

  &:is(.dark *) {
    color: #feacd0;
  }
}

.chroma .nv {
  color: #00538b;

  &:is(.dark *) {
    color: #00d3d0;
  }
}

.chroma .l,
.chroma .ld {
  color: #0000c0;

  &:is(.dark *) {
    color: #00bcff;
  }
}

.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
  color: #2544bb;

  &:is(.dark *) {
    color: #79a8ff;
  }
}

.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  color: #0000c0;

  &:is(.dark *) {
    color: #00bcff;
  }
}

.chroma .o,
.chroma .ow {
  color: #00538b;

  &:is(.dark *) {
    color: #00d3d0;
  }
}

.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  color: #505050;

  &:is(.dark *) {
    color: #a8a8a8;
  }
}
