{{ if .Params.showPagination | default (.Site.Params.article.showPagination | default true) }}
  {{ if or .NextInSection .PrevInSection }}
    <div class="article-pagination">
      {{ $next := .NextInSection }}
      {{ $prev := .PrevInSection }}
      <div>
        {{ if $prev }}
          <a class="prev" href="{{ $prev.RelPermalink }}">
            <span class="title">&laquo; PREV</span>
            <span>{{ $prev.Title | emojify }}</span>
          </a>
        {{ end }}
      </div>
      <div>
        {{ if $next }}
          <a class="next" href="{{ $next.RelPermalink }}">
            <span class="title">NEXT &raquo;</span>
            <span>{{ $next.Title | emojify }}</span>
          </a>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
