<div class="breadcrumbs">
  {{ template "crumb" (dict "p1" . "p2" .) }}
</div>
{{ define "crumb" }}
  {{ if .p1.Parent }}
    {{ template "crumb" (dict "p1" .p1.Parent "p2" .p2 ) }}
  {{ else if not .p1.IsHome }}
    {{ template "crumb" (dict "p1" .p1.Site.Home "p2" .p2 ) }}
  {{ end }}
  {{ if not (or (eq .p1 .p2) (.p1.IsHome)) }}
    <a href="{{ .p1.RelPermalink }}">
      {{ if .p1.Title }}
        {{- .p1.Title -}}
      {{ else }}
        {{- .p1.Section -}}
      {{ end }}
    </a>
    <span>&nbsp;/&nbsp;</span>
  {{ end }}
{{ end }}
