<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if .IsHome }}
  <title>{{ .Site.Title | emojify }}</title>
  <meta name="title" content="{{ .Site.Title | emojify }}" />
  {{ else }}
  <title>{{ .Title | emojify }} &middot; {{ .Site.Title | emojify }}</title>
  <meta name="title" content="{{ .Title | emojify }} &middot; {{ .Site.Title | emojify }}" />
  {{ end }}
  {{ with .Params.Description | default .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.author.name }}<meta name="author" content="{{ . }}">{{ end }}
  {{ $assets := newScratch }}
  {{ $styleCss := resources.Get "css/style.css" }}
  {{ $assets.Add "css" (slice $styleCss) }}
  {{ $syntaxCss := resources.Get "css/syntax.css" }}
  {{ $assets.Add "css" (slice $syntaxCss) }}
  {{ $customCss := resources.Get "css/custom.css" }}
  {{ if $customCss }}
  {{ $assets.Add "css" (slice $customCss) }}
  {{ end }}
  {{ $bundleCSS := $assets.Get "css" | resources.Concat "css/main.bundle.css" | resources.Minify }}
  <link type="text/css" rel="stylesheet" href="{{ $bundleCSS.RelPermalink }}">
  {{ $jsAppearance := resources.Get "js/appearance.js" }}
  {{ $jsAppearance = $jsAppearance | resources.ExecuteAsTemplate "js/appearance.js" . | resources.Minify }}
  <script type="text/javascript" src="{{ $jsAppearance.RelPermalink }}"></script>
  {{ $jsCode := resources.Get "js/code.js" }}
  {{ $assets.Add "js" (slice $jsCode) }}
  {{ $jsMenu := resources.Get "js/menu.js" }}
  {{ $assets.Add "js" (slice $jsMenu) }}
  {{ $jsScroll := resources.Get "js/scroll.js" }}
  {{ $assets.Add "js" (slice $jsScroll) }}
  {{ $bundleJS := $assets.Get "js" | resources.Concat "js/main.bundle.js" | resources.Minify }}
  <script defer type="text/javascript" src="{{ $bundleJS.RelPermalink }}"></script>
  {{ if templates.Exists "partials/extend_head.html" }}
  {{ partialCached "extend_head.html" .Site }}
  {{ end }}
  {{ if .Params.showMath | default (.Site.Params.article.showMath | default false) }}
  {{ partial "math.html" . }}
  {{ end }}
  {{ if .Page.HasShortcode "mermaid" }}
  {{ partial "mermaid.html" . }}
  {{ end }}
  {{ if .Page.HasShortcode "typeit"}}
  {{ partial "typeit.html" . }}
  {{ end }}
</head>
