{{ if .Params.showPagination | default (.Site.Params.article.showPagination | default true) }}
  {{ if or .NextInSection .PrevInSection }}
    <div class="article-pagination">
      {{ $next := .NextInSection }}
      {{ $prev := .PrevInSection }}
      <div class="prev">
        {{ if $prev }}
          <a href="{{ $prev.RelPermalink }}">
            <span>&larr; {{ $prev.Title | emojify }}</span>
          </a>
        {{ end }}
      </div>
      <div class="next">
        {{ if $next }}
          <a href="{{ $next.RelPermalink }}">
            <span>{{ $next.Title | emojify }} &rarr;</span>
          </a>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
