{{- if gt .Paginator.TotalPages 1 -}}
<div class="pagination">
  {{- .Scratch.Set "paginator.ellipsed" false -}}
  {{- if $.Paginator.HasPrev -}}
    <a href="{{ $.Paginator.Prev.URL }}" aria-label="Previous" class="page-item">&lt;</a>
  {{- end -}}
  {{- range $.Paginator.Pagers -}}
    {{- $right := sub .TotalPages .PageNumber -}}
    {{- $showNumber := or (le .PageNumber 1) (eq $right 0) -}}
    {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $.Paginator.PageNumber 3)) (lt .PageNumber (add $.Paginator.PageNumber 3))) -}}
    {{- if $showNumber -}}
      {{- $.Scratch.Set "paginator.ellipsed" false -}}
      {{- $.Scratch.Set "paginator.shouldEllipse" false -}}
    {{- else -}}
      {{- $.Scratch.Set "paginator.shouldEllipse" (not ($.Scratch.Get "paginator.ellipsed") ) -}}
      {{- $.Scratch.Set "paginator.ellipsed" true -}}
    {{- end -}}
    {{- if $showNumber -}}
      <a href="{{ .URL }}" aria-label="{{ .PageNumber }}" class="page-item{{ if eq . $.Paginator }} active{{ end }}">{{ .PageNumber }}</a>
    {{- else if ($.Scratch.Get "paginator.shouldEllipse") -}}
      <span>&hellip;</span>
    {{- end -}}
  {{- end -}}
  {{- if $.Paginator.HasNext -}}
    <a href="{{ $.Paginator.Next.URL }}" aria-label="Next" class="page-item">&gt;</a>
  {{- end -}}
</div>
{{- end -}}
