{{ define "main" }}
  <article class="article">
    <div class="article-header">
      {{ with .Title }}<h1 class="article-title">{{ . }}</h1>{{ end }}
    </div>
    <div class="article-content">
      <div class="content">
        {{ .Content }}
        {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
        {{ range .Pages }}
        <article class="article-entry">
          <h2 class="article-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          {{ if .Params.showMeta | default (.Site.Params.article.showMeta | default false) }}
          {{- partial "article_meta.html" . -}}
          {{ end }}
          {{ if .Params.showTags | default (.Site.Params.article.showTags | default false) }}
          {{- partial "article_tags.html" . -}}
          {{ end }}
          <div class="article-summary">
            <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
          </div>
        </article>
        {{ end }}
        {{ end }}
      </div>
    </div>
  {{ partial "pagination.html" . }}
  </article>
{{ end }}
