{{ define "main" }}

<article class="article">
  <div class="content">
    <div class="article-header">
      <h1 class="article-title">{{ .Title }}</h1>
    </div>
    <div class="article-content">
      <div id="search-box">
        <input id="search-input" autofocus placeholder="{{ .Params.placeholder | default (printf " %s ↵" .Title) }}"
               aria-label="search" type="search" autocomplete="off" maxlength="64">
        <ul id="search-results" aria-label="search results"></ul>
      </div>
    </div>
  </div>
</article>

<script defer src="https://cdn.jsdelivr.net/npm/fuse.js@7.1.0/dist/fuse.min.js"></script>
{{ $jsSearch := resources.Get "js/search.js" }}
{{ $jsSearch = $jsSearch | resources.ExecuteAsTemplate "js/search.js" . | resources.Minify }}
<script defer type="text/javascript" src="{{ $jsSearch.RelPermalink }}"></script>

{{ end }}
